<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="google-site-verification"
            content="VjThTRPUbPWucMSpQMbIELmyuEWEmljMjXGmfiO37yQ"
        />
        <meta
            name="description"
            content="Bem-vindo ao Cipher Studio+, um universo dedicado ao desenvolvimento web com paixão e estilo."
        />
        <!-- Tags Open Graph para uma apresentação visual envolvente em redes sociais -->
        <meta property="og:title" content="Cipher Studio+" />
        <meta
            property="og:description"
            content="Explore a arte do desenvolvimento web, onde paixão e estilo se encontram."
        />
        <meta
            property="og:image"
            content="https://firebasestorage.googleapis.com/v0/b/henrilimadev.appspot.com/o/henrilima-portfolio%2Fimages%2Fcipher.png?alt=media&token=a9c5ca8a-ae30-4555-93ba-7765c2c41d33"
        />
        <meta property="og:url" content="henrilima.discloud.app" />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@henrilima__" />
        <meta name="twitter:title" content="Cipher Studio+" />
        <meta
            name="twitter:description"
            content="Explore a arte do desenvolvimento web, onde paixão e estilo se encontram."
        />
        <meta
            name="twitter:image"
            content="https://firebasestorage.googleapis.com/v0/b/henrilimadev.appspot.com/o/henrilima-portfolio%2Fimages%2Fcipher.png?alt=media&token=a9c5ca8a-ae30-4555-93ba-7765c2c41d33"
        />
        <meta name="twitter:url" content="https://henrilima.discloud.app" />

        <!-- Cor do tema para dispositivos móveis -->
        <meta name="theme-color" content="#d7621a" />

        <!-- Palavras-chave para otimização de mecanismos de busca -->
        <meta
            name="keywords"
            content="Cipher Studio+, estilo, tecnologia, programação, portfólio"
        />

        <!-- Autor e informações adicionais -->
        <meta name="author" content="Henrique Lima" />
        <meta name="robots" content="index, follow" />

        <link rel="canonical" href="https://henrilima.discloud.app/" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />

        <link
            rel="alternate"
            hreflang="pt-BR"
            href="https://henrilima.discloud.app/"
        />
        <link
            rel="alternate"
            hreflang="en-US"
            href="https://henrilima.discloud.app/"
        />

        <link rel="shortcut icon" href="/images/icon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/styles/style.css" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
        />
        <title>Cipher Studio+</title>

        <script
            src="https://kit.fontawesome.com/a2640589f9.js"
            crossorigin="anonymous"
        ></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-database.js"></script>
    </head>
</html>
